<div class="character-card">
  <div class="card-image">
    <img [src]="character.image" [alt]="character.name" class="pixelated" />
    <div class="status-badge" [class]="character.status.toLowerCase()">
      {{ character.status.toUpperCase() }}
    </div>
  </div>
  <div class="card-content">
    <h2 class="character-name">{{ character.name }}</h2>
    <p class="character-info">{{ character.species }} - {{ character.gender }}</p>
    <div class="character-detail">
      <span class="material-icons">public</span>
      <span>{{ character.location.name }}</span>
    </div>
    <div class="character-detail">
      <span class="material-icons">visibility</span>
      <span>First seen in: {{ getFirstEpisode() }}</span>
    </div>
  </div>
</div>